body {
    font-family: sans-serif;
}

.trainings-container {
    width: 600px;
    margin: 0 auto;
}
.trainings-header {
    text-align: center;
}

.trainings-form {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.date-input-container {
    width: 35%;
}
.date-input-label {
    display: block;
}
.date-input {
    display: block;
}
.distance-input-container {
    width: 35%;
}
.distance-input-label{
    display: block;
}
.distance-input {
    display: block;
}
.submit-button-container{
    width: 30%;
    text-align: center;
}
.submit-button{
    display: inline-block;
}

.note-element {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}
.note-date {
    width: 35%;
}
.note-distance {
    width: 35%;
    text-align: center;
}
